@import 'my/resourceModule';

h2 {
    font-size: 1.5rem;
    padding: 10px;
}

.container {
    border: 5px solid red;
    padding: 10px;
}

.col {
    background-color: hsl(161, 100%, 34%);
    border: 2px solid red;
}

p {
    padding: 10px;
}